.column {
  display: block;
  width: 15%;
  float: left;
  margin: 10px;
  border: 2px solid black;
  padding: 4px;
  background-color: bisque;
}

.centered div img {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

.important {
  font-style: bold;
  position: absolute;
  bottom: 10px;
  width: 50%;
}