.column {
  display: block;
  width: 15%;
  float: left;
  margin: 10px;
  border: 2px solid black;
  padding: 4px;
  background-color: bisque;
}

.centered div img {
  margin: auto;
  width: 70%;
  height: auto;
  display: block;
}

.sidebar {
  width: 10%;
  float: right;
  background-color: lightgoldenrodyellow; opacity: 0.7;
}

.background {
  background-image: url(https://icanimalcenter.org/ImageRepository/Document?documentID=91);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}